html,
body {
  margin: 0;
  padding: 0;
  cursor:url('../img/gt3.png'),auto;
  

}
a{
    cursor:url('../img/gt3.png'),auto;
}




/*顶部导航结束 */


/*左导航部分开始*/
nav{
    width: 10%;
    height: 100%;
    position: absolute;
    /*border: 1px solid #222222;*/
    float: left;
    max-height: 4000px;
    background-color: #ffffff;
    
    
}
#logo{
    width: 100%;
    height: 61px;
    
    border: none;

}
.nav-one{
    background-color: #646464;
    color: aliceblue;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    width: 100%;
    height: 60px;
    border-top: 1px solid #0000000b;
    list-style-type: none;
    text-align: center;
    line-height: 60px;

}

nav li:hover{
    background-color: #00000023;
}

.current{
    
    background-color: #646464c8;
    color: aliceblue;
}

.a{
    position: absolute;
    display: none;
}


/*导航部分结束*/

/*body部分开始*/

#app{ /*body层*/
    
    /*border: 1px solid #222222;*/
    margin: 0 auto;
    max-width: 1920px;
    max-height: 4000px;
    
   
    
    
    
}
/*body部分结束*/

/*更新部分开始*/

#update{  /*每个 大 盒子统一样式*/
    width: 90%;
    height: 100%;
    /*border: 1px solid #222222;  */
    margin-left: 10%;
    background-color: #f1f1f1;
    position: fixed;
    
    
    
   
}
#one{ /*每个 小 盒子统一样式*/
    width: 300px;
    height: 330px;
    float: left;
    border: 1px solid #2222223c;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    color: #222222;
    border-radius: 10px;
    transition: 0.5s;

}
#one:hover{ /*鼠标触发时*/
    border-radius: 10px;
    
    box-shadow:  5px 5px 10px #ebebeb, 
             -5px -5px 10px #ebebeb;
             transform: scale(1.05);
    
}
.one-img{  /*每个图片统一样式*/
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    
}

/*看板娘*/
#github svg {
	transition: all 1s;
	fill: #222;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	width: 80px;
	height: 80px;
}
#github:hover svg {
	width: 160px;
	height: 160px;
}